//Colors   

$blueish: #313A5A;
$green: #1FDB84;
$green-alpha: rgba(31, 219, 132, 0.6);
$darkergreen: #0ccc73;
$green-blueish: #AEFDD9;
$lightergreen-blueish: #F1FFF8;
$blue: #031D5B;
$purpleblue: #32325C;
$lightblue: #5B6C94;
$blueeyes: #329dff;
$grey-blueish: #2e3956;
$grey: #80909c;
$lightgrey: #cccfd8;
$lightergrey: #F8F9FC;
$yellow: #f3cb66;