/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.body {
  font-family: 'Rubik', sans-serif; }

a, a:hover, a:visited, a:focus {
  text-decoration: none;
  color: inherit; }

.btn {
  color: white;
  cursor: pointer;
  padding: 15px;
  border: none;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  background: #1FDB84;
  -webkit-box-shadow: 0px 0px 70px 1px rgba(31, 219, 132, 0.6);
  box-shadow: 0px 0px 70px 1px rgba(31, 219, 132, 0.6); }

.header__section {
  background: #313A5A;
  height: 980px;
  width: 100%; }

.wrapper {
  width: 1257px;
  margin: auto; }

.navbar {
  color: white;
  padding: 30px 0;
  width: 100%;
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .navbar .logo {
    font-size: 26px; }
  .navbar .menu {
    list-style-type: none;
    font-size: 16px; }
    .navbar .menu .menu__link {
      display: inline-block;
      padding: 0 20px; }
  .navbar .btn {
    width: 120px;
    height: 40px; }
  .navbar .btn_login {
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.first {
  width: 560px;
  height: auto;
  color: white;
  margin-top: 220px; }
  .first .header {
    font-size: 48px; }
  .first .text {
    padding: 26px 0;
    line-height: 1.8;
    font-size: 16px; }
  .first .btn {
    margin-top: 40px;
    width: 200px;
    height: 60px; }

.phone {
  width: 320px;
  height: 580px;
  position: relative;
  left: 900px;
  bottom: 450px;
  background: -webkit-gradient(linear, right bottom, left top, from(#1d243d), to(#425072));
  background: linear-gradient(to top left, #1d243d, #425072);
  border-radius: 30px;
  border: 1px solid #414962; }
  .phone .phone__screen {
    color: white;
    position: relative;
    border-radius: 24px;
    left: 14px;
    top: 14px;
    width: 290px;
    height: 550px;
    border: 1px solid #2e3956;
    background: #2e3956;
    overflow: hidden; }
    .phone .phone__screen .notch {
      position: absolute;
      background: #2e3956;
      top: -1px;
      left: 27%;
      width: 135px;
      height: 25px;
      border-bottom-left-radius: 11px;
      border-bottom-right-radius: 11px;
      z-index: 3; }
    .phone .phone__screen::after {
      position: absolute;
      bottom: 56%;
      left: -137%;
      width: 800px;
      height: 700px;
      border-radius: 50%;
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
      z-index: 0;
      background: #1FDB84;
      content: '';
      -webkit-box-shadow: 0px 0px 10px 5px rgba(31, 219, 132, 0.6);
      box-shadow: 0px 5px 70px 3px rgba(31, 219, 132, 0.6); }
    .phone .phone__screen .status__section {
      position: relative;
      z-index: 4;
      font-size: 11px; }
      .phone .phone__screen .status__section .time {
        position: absolute;
        left: 30px;
        top: 10px; }
      .phone .phone__screen .status__section .status {
        position: absolute;
        list-style-type: none;
        left: 222px;
        top: 10px; }
        .phone .phone__screen .status__section .status .icon {
          display: inline-block;
          padding: 0 2px; }
    .phone .phone__screen .bilance__section {
      position: relative;
      width: 80%;
      margin: auto;
      z-index: 4; }
      .phone .phone__screen .bilance__section .header {
        position: absolute;
        top: 45px;
        font-size: 12px; }
      .phone .phone__screen .bilance__section .balance {
        position: absolute;
        top: 60px;
        font-size: 30px; }
      .phone .phone__screen .bilance__section .profit {
        position: absolute;
        font-size: 15px;
        padding: 5px;
        background: #0ccc73;
        top: 60px;
        left: 185px; }
    .phone .phone__screen .bitcoin {
      position: relative;
      z-index: 4;
      width: 240px;
      height: 200px;
      background: rgba(66, 80, 114, 0.8);
      top: 140px;
      left: 25px;
      border-radius: 7px; }
      .phone .phone__screen .bitcoin .bitcoin__icon {
        position: absolute;
        top: -15px;
        left: 20px;
        width: 55px;
        height: 55px;
        background: #f3cb66;
        -webkit-box-shadow: 0px 2px 20px 5px rgba(243, 203, 102, 0.2);
        box-shadow: 0px 2px 20px 5px rgba(243, 203, 102, 0.2);
        border-radius: 7px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 24px; }
      .phone .phone__screen .bitcoin .bitcoin__text {
        font-size: 17px;
        position: relative; }
      .phone .phone__screen .bitcoin .bitcoin__text_small {
        color: #80909c;
        font-size: 10px;
        position: relative; }
      .phone .phone__screen .bitcoin .top_text {
        left: 110px;
        top: 10px; }
      .phone .phone__screen .bitcoin .top_stext {
        left: 110px;
        top: 15px; }
      .phone .phone__screen .bitcoin .mid_stext {
        left: 20px;
        top: 40px; }
      .phone .phone__screen .bitcoin .mid_text {
        left: 20px;
        top: 45px; }
      .phone .phone__screen .bitcoin .bottom_stext {
        left: 20px;
        top: 75px; }
      .phone .phone__screen .bitcoin .bottom_text {
        left: 20px;
        top: 80px; }
      .phone .phone__screen .bitcoin .circle {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid;
        left: 100px;
        border-color: #1FDB84;
        border-top-color: white;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .phone .phone__screen .bitcoin .mid_circle {
        left: 185px;
        top: 70px; }
      .phone .phone__screen .bitcoin .bottom_circle {
        left: 185px;
        top: 130px; }
    .phone .phone__screen .companies__secition {
      position: relative;
      top: 150px;
      left: 25px; }
      .phone .phone__screen .companies__secition .header {
        padding: 7px 0;
        font-size: 15px;
        color: #80909c; }
      .phone .phone__screen .companies__secition .table {
        width: 240px; }
        .phone .phone__screen .companies__secition .table .table__icon {
          position: relative;
          top: 13px;
          text-align: center;
          width: 30px;
          height: 30px;
          padding: 5px; }
          .phone .phone__screen .companies__secition .table .table__icon .fas {
            font-size: 35px; }
          .phone .phone__screen .companies__secition .table .table__icon .xrp {
            color: purple; }
          .phone .phone__screen .companies__secition .table .table__icon .ppc {
            color: plum; }
          .phone .phone__screen .companies__secition .table .table__icon .trx {
            color: red; }
        .phone .phone__screen .companies__secition .table .table__info {
          text-align: left;
          padding-left: 10px; }
        .phone .phone__screen .companies__secition .table .table__name {
          position: relative;
          font-size: 16px;
          color: #cccfd8; }
        .phone .phone__screen .companies__secition .table .table__fullname {
          position: relative;
          font-size: 12px;
          color: #80909c; }
        .phone .phone__screen .companies__secition .table .table__date {
          text-align: right; }
          .phone .phone__screen .companies__secition .table .table__date .table__chuj {
            color: #1FDB84;
            font-size: 12px; }

.infobox {
  background: #F8F9FC; }
  .infobox .wrapper {
    height: 420px;
    top: -100px;
    position: relative;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border: 1px solid rgba(151, 151, 151, 0.1);
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 30px 5px rgba(210, 210, 210, 0.5);
    box-shadow: 0px 0px 30px 3px rgba(210, 210, 210, 0.5); }
    .infobox .wrapper .info {
      width: 300px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .infobox .wrapper .info .info__icon {
        margin-top: 50px;
        width: 72px;
        height: 72px;
        background: rgba(31, 219, 132, 0.1);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .infobox .wrapper .info .info__icon .far {
          color: #1FDB84;
          font-size: 38px; }
      .infobox .wrapper .info .info__header {
        margin: 30px 0;
        width: auto;
        font-size: 18px;
        color: #031D5B;
        position: relative; }
        .infobox .wrapper .info .info__header::after {
          width: 60px;
          height: 4px;
          background: #1FDB84;
          position: absolute;
          top: 65px;
          right: 240px;
          content: ''; }
      .infobox .wrapper .info .info__text {
        margin: 40px 0;
        width: 305px;
        font-size: 16px;
        color: #5B6C94;
        line-height: 1.8; }

.paid_plan {
  background: #F8F9FC; }
  .paid_plan .wrapper {
    height: 997px; }
  .paid_plan .paid_plan__header {
    font-size: 40px;
    line-height: 1.8;
    width: 810px;
    height: 128px;
    text-align: center;
    margin: auto;
    color: #32325C; }
  .paid_plan .btn_block {
    width: 470px;
    height: 60px;
    margin: 40px auto;
    border: 1px solid #AEFDD9;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .paid_plan .btn_block .paid_plan__btn {
      cursor: pointer;
      color: #1FDB84; }
    .paid_plan .btn_block .btn_monthly {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      width: 160px;
      height: 60px;
      background: white;
      border: none;
      border-right: 1px solid #AEFDD9; }
    .paid_plan .btn_block .btn_yearly {
      border: none;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      width: 310px;
      height: 60px;
      background: #F1FFF8; }
  .paid_plan .article__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .paid_plan .article__box .info {
      width: 378px;
      height: 665px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .paid_plan .article__box .info .info__header {
        font-size: 24px;
        color: #32325C; }
      .paid_plan .article__box .info .info__price_text {
        color: #1FDB84;
        font-size: 72px;
        position: relative;
        top: 5px; }
      .paid_plan .article__box .info .info__text {
        font-size: 16px;
        color: #5B6C94; }
      .paid_plan .article__box .info .price__group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
      .paid_plan .article__box .info .info__list {
        list-style-type: none;
        text-align: center;
        height: 150px; }
        .paid_plan .article__box .info .info__list .info__text {
          width: 205px;
          padding: 8px 0; }
    .paid_plan .article__box .info_pro {
      background: white;
      -webkit-box-shadow: 0px 5px 30px 6px rgba(83, 83, 83, 0.1);
      box-shadow: 0px 5px 30px 6px rgba(83, 83, 83, 0.1);
      border-top: 3px solid #329dff; }

.customers {
  padding-top: 100px;
  height: 970px;
  background: #F8F9FC; }
  .customers .wrapper {
    overflow: hidden;
    width: 1623px;
    height: 970px;
    margin: 0 0 0 auto; }
  .customers .header {
    width: 310px;
    height: 104px;
    font-size: 40px;
    color: #031D5B;
    line-height: 1.5;
    position: relative;
    left: 25px; }
    .customers .header::before {
      position: absolute;
      content: '';
      width: 1180px;
      height: 970px;
      background: #313A5A;
      left: 570px; }
  .customers .trapezoid__group .trapezoid {
    width: 207px;
    height: 207px;
    background: rgba(31, 219, 132, 0.1);
    position: relative;
    position: absolute;
    top: 0px; }
    .customers .trapezoid__group .trapezoid::after {
      position: absolute;
      top: 207px;
      border-top: 207px solid rgba(31, 219, 132, 0.1);
      border-right: 207px solid transparent;
      content: ''; }
  .customers .trapezoid__group .trapezoid_first {
    left: -25px; }
  .customers .trapezoid__group .trapezoid_second {
    left: 200px; }
  .customers .articles__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    left: 350px;
    top: 140px; }
    .customers .articles__group .opinion {
      z-index: 2;
      width: 420px;
      height: 500px;
      margin-right: 80px;
      background: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; }
      .customers .articles__group .opinion .opinion__trapezoids {
        position: relative;
        top: 20px;
        left: 55px; }
        .customers .articles__group .opinion .opinion__trapezoids .trapezoid_white {
          width: 20px;
          height: 20px;
          background: white;
          position: relative; }
          .customers .articles__group .opinion .opinion__trapezoids .trapezoid_white::after {
            position: absolute;
            top: 20px;
            border-top: 20px solid white;
            border-right: 20px solid transparent;
            content: ''; }
        .customers .articles__group .opinion .opinion__trapezoids .trapezoid {
          width: 20px;
          height: 20px;
          background: #1fdb84;
          position: relative; }
          .customers .articles__group .opinion .opinion__trapezoids .trapezoid::after {
            position: absolute;
            top: 20px;
            border-top: 20px solid #1fdb84;
            border-right: 20px solid transparent;
            content: ''; }
        .customers .articles__group .opinion .opinion__trapezoids .trapezoid_second {
          left: 25px;
          top: -20px; }
      .customers .articles__group .opinion .opinion__text {
        -ms-flex-item-align: center;
        align-self: center;
        font-size: 18px;
        color: #5B6C94;
        width: 310px;
        line-height: 1.8; }
      .customers .articles__group .opinion .white {
        color: white; }
      .customers .articles__group .opinion .opinion__footer {
        position: relative;
        left: 55px;
        font-size: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; }
        .customers .articles__group .opinion .opinion__footer .opinion__author_name {
          color: #031D5B;
          padding-right: 20px; }
        .customers .articles__group .opinion .opinion__footer .opinion__author_studio {
          color: rgba(3, 29, 91, 0.4); }
        .customers .articles__group .opinion .opinion__footer .white {
          color: white; }
    .customers .articles__group .opinion_greenBG {
      background: #1FDB84;
      -webkit-box-shadow: 0px 0px 60px 3px rgba(31, 219, 132, 0.6);
      box-shadow: 0px 0px 60px 3px rgba(31, 219, 132, 0.6); }
  .customers .list {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 10;
    position: relative;
    top: 235px; }
    .customers .list .list__item {
      display: inline-block;
      padding: 10px; }
      .customers .list .list__item:hover {
        cursor: pointer; }
      .customers .list .list__item .circle {
        width: 20px;
        height: 20px;
        border: 2px solid white;
        border-radius: 100%; }
      .customers .list .list__item .circle__selected {
        background: white; }

.partners {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .partners .header {
    font-size: 16px;
    color: #031D5B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 50px; }
  .partners .list {
    width: 1057px;
    height: 50px;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .partners .list .list__item {
      opacity: 0.3;
      padding: 30px; }
      .partners .list .list__item:hover {
        cursor: pointer;
        opacity: 1;
        -webkit-transition-duration: 800ms;
        transition-duration: 800ms; }
      .partners .list .list__item .img {
        height: 40px;
        width: auto; }

.footer {
  height: 300px;
  display: flex;
  align-items: center;
  color: #5B6C94; }
  .footer .wrapper {
    text-align: center;
    width: 780px; }
  .footer .list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 50px; }
    .footer .list .list__item {
      padding: 0 30px; }
      .footer .list .list__item:hover {
        cursor: pointer; }
